<!DOCTYPE html>
<html>
<head>
    <title>Air Ticket Reservation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('search_flights') }}">Search Flights</a></li>
                {% if session.get('logged_in') %}
                    <li><a href="{{ url_for('protected') }}">My Account</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Footer Content -->
    </footer>
</body>
</html>

