{% extends 'layout.html' %}

{% block content %}
    <h2>Airline Staff Dashboard</h2>
    <p>Welcome to your staff dashboard!</p>
    <div><a href="{{ url_for('create_flight') }}" class="btn">Create New Flight</a></div>
    <div><a href="{{ url_for('view_flights') }}" class="btn">View and Manage Flights</a></div>
    <div><a href="{{ url_for('add_airplane') }}" class="btn">Add Airplane</a></div>
    <div><a href="{{ url_for('add_airport') }}" class="btn">Add Airport</a></div>
    <div><a href="{{ url_for('schedule_maintenance') }}" class="btn">Schedule Maintenance</a></div>
    <div><a href="{{ url_for('view_revenue') }}">View Earned Revenue</a></div>
    <a href="{{ url_for('view_frequent_customers') }}" class="btn">View Frequent Customers</a>    
    <!-- Add links to staff-specific functionalities -->
{% endblock %}
